
{% extends 'master.html' %}
{% block content %}
{% load static %}


<style>
     .navbar {
    background-image: linear-gradient(to left, #000428, #004e92);

  }

 span{
     font-size: medium;
     font-weight: 500;
     
 }


/* CSS   button*/
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



/* css card */
.card1 {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    height: 500px;

  }

  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  }
</style>




    <!-- start of products display  -->
    <div class="container-fluid"  style="margin-top: 20px;">

   
        <div class="row">
            {% for worker in searchproduct %} 
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
              

                <div class="card card1" style="width: 19rem; margin-top: 100px;">
                    <img src="/media/{{ worker.w_profilePic }}" class="card-img-top" style="height: 250px; width: 100%;"
                        alt="...">
                    <div class="card-body">
                        <h5></h5>
                        <h6 class="card-title"> Name:- <span style="text-transform: uppercase; font-size: larger;"> {{ worker.first_name }} {{ worker.first_name }} </span></h6>
                        <p class="card-text">Category:- <span> {{ worker.category }} </span><br>Subcategory:- <span>{{ worker.subcategory }} </span> </p>
                        <p class="card-text">Place:- <span> {{ worker.place }}</span> </p>
                        <a href="/user/wrkpro/{{ worker.workerlogin_id }}" class=" btn button-29">View Profile</a>
                        
                    </div>
                    
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>















{% endblock %}


