{% extends 'master.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/ie-emulation-modes-warning.js"></script>
<!-- ----------------------------fancy------------------- -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
  integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
  integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- ------------------------------ end fancy ---------------------------->
<!-- <link rel="stylesheet" href="{% static 'css/review.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<style>
  body {
    padding-top: 100px;

  }

  .navbar {
    background-image: linear-gradient(to left, #000428, #004e92);

  }

  .card-img {
    height: 240px;

  }

  .filebtn {
    border-radius: 50%;
  }

  .revbtn {
    border-radius: 20px;
    background-color: #143250;
    color: white;
  }

  /* review */

  .recard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
  }

  .comment-box {
    padding: 5px
  }

  .comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
  }

  .send {
    color: #fff;
    background-color: green;
    border-color: #ff0000
  }


  /* .rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
  }

  .rating>input {
    display: none
  }

  .rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer
  }

  .rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
  }

  .rating>label:hover:before,
  .rating>label:hover~label:before {
    opacity: 1 !important
  }

  .rating>input:checked~label:before {
    opacity: 1
  }

  .rating:hover>input:checked~label:before {
    opacity: 0.4
  } */

  /* end */

  /* -------------- */
  .viewimg {
    width: 380px;
    height: 350px;
  }

  /* ------------ */
</style>

<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->
    <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
           
          </ol>
        </nav> -->
    <!-- /Breadcrumb -->

    <div class="row gutters-sm" style="margin: 0;">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="/media/{{ viewworker.w_profilePic }}" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{viewworker.first_name}}</h4>
                <p class="text-secondary mb-1">{{viewworker.subcategory}} </p>
                <p class="text-muted font-size-sm">{{viewworker.place}},{{viewworker.district}}</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#bookmodal1">Book Now</button>
                <a href="payment"><button class="btn btn-outline-primary">Add Payment</button></a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.first_name}}{{viewworker.last_name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.w_email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.w_phone}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Pincode</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.w_pincode}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.w_address}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date of bith & Age</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.date_of_birth}}:-{{viewworker.age}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"> State</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.state}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Location </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.location}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Education Qualification</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{viewworker.education_qualification}}
              </div>
            </div>
            <hr>


          </div>
        </div>





      </div>

      <!-- Gallery -->



      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12  ">
          <div id="lightgallery" class="row item lightGallery">
            {% for i in galleryimg %}
            <a href="/media/{{ i.picture }}" class="fancybox w-90" data-fancybox="gallery1"><img
                src="/media/{{ i.picture }}" class="p-1 viewimg " alt="image small"></a>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <input type="button" value="Write Review" class="revbtn" data-toggle="modal" data-target="#reviewmodal">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <hr />
        <div class="review-block">
          {% for i in reviewdetails %}
          <div class="row">
            <div class="col-sm-3">
              <img src="/media/{{ i.login_user.profilePic }}" class="img-fluid img-rounded">
              <div class="review-block-name">
                <h3>{{ i.login_user.name }}</h3>
              </div>
            </div>
            <div class="col-sm-9">
            
              <div class="review-block-title">{{ i.details }}</div>
              
            </div>
          </div>
          <hr /><br><br>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>

<!-- review modal -->

<div class="modal fade" id="reviewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- con -->
      <div class="card recard">
        <div class="row">
          <div class="col-2"> <img src="/media/{{ viewworker.w_profilePic }}" width="70" class="rounded-circle mt-2">
          </div>
          <div class="col-10">
            <div class="comment-box ml-2">

              <h4>Add a comment</h4>
              <!-- <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input
                  type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating"
                  value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label
                  for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div> -->
              <form action="" method="post">
                {% csrf_token %}
                <div class="comment-area"> <textarea class="form-control" name="reviewmessage" placeholder="what is your view?"
                    rows="4"></textarea> </div>
                <!-- <input type="text" name="workerid" value="{{ viewworker.w_address }}" hidden > -->
                <div class="comment-btns mt-2">
                  <div class="row">
                    <div class="col-6">
                      <div class="pull-left"><a class="btn btn-danger btn-sm" href="/user/wrkpro">Cancel</a> </div>
                    </div>
                    <div class="col-6">
                      <div class="pull-right"> <button type="submit" class="btn btn-success send btn-sm">Send <i
                            class="fas fa-arrow-right"></i></button> </div>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end con -->
</div>
</div>
</div>


<!-- end review modal -->
<!-- booking modal -->
<div class="modal fade" id="bookmodal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="card d-flex justify-content-center mx-auto  p-5">
        <h5 class="text-muted"> Book now I will contact you </h5>

        <form id="booking" action="{% url 'booking' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Date</label>
              <input type="date" name="bookingdate" class="form-control" id="">
            </div>

            <div class="form-group col-md-6">
              <label for="">Time</label>
              <input type="time" name="bookingtime" class="form-control" id="">

            </div>
            <input type="text" name="workerid" class="form-control" hidden value="{{viewworker.id}}">

          </div>


          <div class="form-button pt-4"> <button type="submit"
              class="btn btn-primary btn-block"><span>SUBMIT</span></button> </div>
        </form>

      </div>


    </div>
  </div>
</div>
<!-- <script>
  $('#booking').validate({
    rules: {
      name1: {
        required: true,
        minlength: 6,
      },
      location1: {
        required: true,
        minlength: 6,
      },
      city1: {
        required: true,
        minlength: 6,

      },
      pincode1: {
        required: true,
        number: true,
        maxlength: 6,
        minlength: 6,
      },

    },
    messages: {
      name1: {
        required: "Enter your first  name",
        minlength: "alteast 6",
      },
      location1: {
        required: "Enter your location",
        minlength: "alteast 6",
      },
      city1: {
        required: "enter your city",
        minlength: "alteast 6",

      },
      pincode1: {
        required: 'enter phone number',
        number: 'valid pin code number',
        maxlength: 'no more than 6  ',
        minlength: 'no less than 6',
      },

    },
    submitHandler: function (form) {

      form.submit();
    }

  })
</script> -->
<!-- end booking modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>




{% endblock %}