{% extends 'index.html' %}
{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->



<!-- <script type="text/javascript">


    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Income', 3],
            ['Balance', 1],
            ['Loss', 1],
            ['Service', 1],
            ['Profit', 2]
        ]);

        // Set chart options
        var options = {
            'title': 'Graphical Representation',
            'width': 1000,
            'height': 600
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script> -->

<header class="bg-surface-primary border-bottom pt-6">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <!-- Title -->
                    <h1 class="h2 mb-0 ls-tight">OVER ALL VIEW</h1>
                </div> <!-- Actions -->
                <!-- <div class="col-sm-6 col-12 text-sm-end">
                    <div class="mx-n1"> <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1"> <span class=" pe-2"> <i class="bi bi-pencil"></i> </span> <span>Edit</span> </a> <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2"> <i class="bi bi-plus"></i> </span> <span>Create</span> </a> </div>
                </div> -->
            </div> <!-- Nav -->
            <ul class="nav nav-tabs mt-4 overflow-x border-0">
                <li class="nav-item"> <a href="#" id="graph" onclick="graph()" class="nav-link active">OverAll
                        View</a> </li>
                <li class="nav-item "> <a href="#" id="viewrequest" onclick="view()"
                        class="nav-link  font-regular">Pending Request</a> </li>
                <li class="nav-item"> <a href="#" id="delectrequest" onclick="del()"
                        class="nav-link font-regular">Deleted Request</a> </li>
            </ul>
        </div>
    </div>
</header> <!-- Main -->
<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
        <!-- Card stats -->
        <div id="viewgraph">
            <div class="row g-6 mb-6">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span
                                        class="h6 font-semibold text-muted text-sm d-block mb-2">Income</span> <span
                                        class="h3 font-bold mb-0">₹750.90</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"> <i
                                            class="bi bi-credit-card"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span
                                    class="badge badge-pill bg-soft-success text-success me-2"> <i
                                        class="bi bi-arrow-up me-1"></i>13% </span> <span
                                    class="text-nowrap text-xs text-muted">Since last month</span> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total
                                        Workers</span> <span class="h3 font-bold mb-0">{{ total_worker }}</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i
                                            class="bi bi-people"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span
                                    class="badge badge-pill bg-soft-success text-success me-2"> <i
                                        class="bi bi-arrow-up me-1"></i>30% </span> <span
                                    class="text-nowrap text-xs text-muted">Since last month</span> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total
                                        hours</span> <span class="h3 font-bold mb-0">1.400</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white text-lg rounded-circle"> <i
                                            class="bi bi-clock-history"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span
                                    class="badge badge-pill bg-soft-danger text-danger me-2"> <i
                                        class="bi bi-arrow-down me-1"></i>-5% </span> <span
                                    class="text-nowrap text-xs text-muted">Since last month</span> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Work
                                        Done</span> <span class="h3 font-bold mb-0">95%</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"> <i
                                            class="bi bi-minecart-loaded"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span
                                    class="badge badge-pill bg-soft-success text-success me-2"> <i
                                        class="bi bi-arrow-up me-1"></i>10% </span> <span
                                    class="text-nowrap text-xs text-muted">Since last month</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- graph -->
            <!-- <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <h5 class="mb-0">Graphical Analysis</h5>
                </div>
                <div id="chart_div"></div>
            </div> -->
        </div>
        <!-- end graph -->
        <!-- pen -->
        <div class="card shadow border-0 mb-7" id="workpen" style="display: none;">
            <div class="card-header">
                <h5 class="mb-0">Worker Pending</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th scope="col"> Full Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">subcategory</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mode</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for i in worker %}
                        <tr>
                            <td><img src="/media/{{ i.w_profilePic }}" class="avatar avatar-sm rounded-circle me-5"
                                    alt=""></td>
                            <td> {{ i.first_name }} {{ i.last_name }} </td>
                            <td> {{ i.category }} </td>
                            <td> {{ i.subcategory }} </td>
                            <td> {{ i.w_phone }} </td>
                            <td> {{ i.w_email }} </td>
                            <td>{{ i.jobtype}}</td>
                            <td>{{ i.workerlogin.status }}</td>
                            <td></td>

                            <td class="text-end"><a href="accept/{{ i.workerlogin_id }}"
                                    class="btn btn-sm btn-neutral">Accept</a>
                                <a href="delect/{{ i.workerlogin_id }}" type="button"
                                    class="btn btn-sm btn-square btn-neutral text-danger-hover"> <i
                                        class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}


                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <p class="text-muted text-sm">Showing 10 items out of 250 results found</p> <button
                    id="plus">view</button>
            </div>
        </div>
        <!-- end pen -->
        <!-- del -->
        <div class="card shadow border-0 mb-7" id="delreq" style="display: none;">
            <div class="card-header">
                <h5 class="mb-0">Deleted Workers</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th scope="col"> Full Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">subcategory</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mode</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for i in workerdel %}
                        <tr>
                        <tr>
                            <td><img src="/media/{{ i.w_profilePic }}" class="avatar avatar-sm rounded-circle me-5"
                                    alt=""></td>
                            <td> {{ i.first_name }} {{ i.last_name }} </td>
                            <td> {{ i.category }} </td>
                            <td> {{ i.subcategory }} </td>
                            <td> {{ i.w_phone }} </td>
                            <td> {{ i.w_email }} </td>
                            <td>{{ i.jobtype}}</td>
                            <td>{{ i.workerlogin.status }}</td>
                            <td></td>

                            <!-- <td class="text-end"><a href="accept/{{ i.workerlogin_id }}"
                                    class="btn btn-sm btn-neutral">Accept</a>
                                <a href="" type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"> <i
                                        class="bi bi-trash"></i></a>
                            </td> -->
                        </tr>

                        {% endfor %}

                        </tr>


                    </tbody>
                </table>
            </div>

        </div>
        <!-- end del -->

    </div>
</main>
<script src="{% static 'js/dash1.js' %}"></script>


{% endblock %}